{% for post in posts %}
    <div class="post" id="{{ post.getId }}">
        <h1>{{ post.getTitle }} </h1>
        <p>{{ post.getText }}</p>
        <i>{{ post.getCreatedAt|date("Y.m.d") }}</i>
        <hr>
            <a href=""  class="deletePost" onclick="return false">Delete</a>

    </div>
{% endfor %}