{% extends 'base.html.twig' %}

{% block body %}
<form class="ajax" action="{{ path('api_post_create') }}" method="post">
{{ form_widget(form) }}
    <a class="savePost" href="" onclick="return false"> Save </a>

<div class="posts">
    {% for post in posts %}
        <div class="post" id="{{ post.getId }}">
        <h1>{{ post.getTitle }} </h1>
        <p>{{ post.getText }}</p>
        <i>{{ post.getCreatedAt|date("Y.m.d") }}</i>
        <hr>
        {% if user.getId == post.user.getId %}
            <a href=""  class="deletePost" onclick="return false">Delete</a>
        {% endif %}
            </div>
    {% endfor %}
</div>
    <a href=""  class="morePosts" onclick="return false">See more</a>
{% endblock %}

{% block javascripts %}
    <script>
        $('.savePost').click(function(){
            var loginFormObject = {
                title: $('#blogbundle_post_title').val(),
                text: $('#blogbundle_post_text').val()
            };
            $.ajax({
                type: "POST",
                url: "{{ path('api_post_create') }}",
                data: JSON.stringify(loginFormObject),
                success: function(response) {
                    $('#blogbundle_post_title').val('');
                    $('#blogbundle_post_text').val('');
                    $( ".posts" ).append( response );
                }
            });
            return false;
        })

        $('.deletePost').click(function(){
            var parent = $(this).parent();
            var postId = parent.attr('id');
            var data = {id : postId};

            $.ajax({
                type: "POST",
                url: "{{ path('api_post_delete') }}",
                data: JSON.stringify(data),
                success: function(response) {
                    parent.remove();
                }
            });
            return false;
        })

        $('.morePosts').click(function(){
            var lastId = $('.post').last().attr('id');
            var data = {id : lastId};

            $.ajax({
                type: "POST",
                url: "{{ path('api_posts_more') }}",
                data: JSON.stringify(data),
                success: function(response) {
                    $( ".posts" ).append( response );
                }
            });
            return false;
        })
    </script>
{% endblock %}